import {Query} from "./request/type/Query";
import {Mutation} from "./request/type/Mutation";
import {Subscription} from "./request/type/Subscription";

export class #capitalize($name)Request {
#tab(4)public static query(config:(_:Query) => void) {
#tab(8)const request = new Query();
#tab(8)config(request);
#tab(8)return request;
#tab(4)}
#tab(4)public static mutation(config:(_:Mutation) => void) {
#tab(8)const request = new Mutation();
#tab(8)config(request);
#tab(8)return request;
#tab(4)}
#tab(4)public static subscription(config:(_:Subscription) => void) {
#tab(8)const request = new Subscription();
#tab(8)config(request);
#tab(8)return request;
#tab(4)}
}

#macro(tab $indent)${tab.invoke($indent)}#end
#macro(print $text)${print.invoke($text)}#end
#macro(capitalize $str)${str.substring(0, 1).toUpperCase()}${str.substring(1)}#end
