#macro(toKotlinType $type $prefix)
    #if ($type.class.simpleName.equals("StringType"))string##
    #elseif ($type.class.simpleName.equals("IntType"))number##
    #elseif ($type.class.simpleName.equals("FloatType"))number##
    #elseif ($type.class.simpleName.equals("BooleanType"))boolean##
    #elseif ($type.class.simpleName.equals("MapType"))Map#print("<")string, any#print(">")##
    #elseif ($type.class.simpleName.equals("ArrayType") && $type.type.class.simpleName.equals("ByteType"))Uint8Array##
    #elseif ($type.class.simpleName.equals("ListType"))#print("Array<")#toKotlinType($type.type, $prefix)#print(">")##
    #else $prefix#capitalize($type.name)##
    #end
#end
#macro(capitalize $str)#*
    *#${str.substring(0, 1).toUpperCase()}${str.substring(1)}##
#end
#macro(tab $indent)#*
    *#${tab.invoke($indent)}##
#end
#macro(print $text)#*
    *#${print.invoke($text)}##
#end
#macro(renderDataFields $list $prefix)#*
    *##foreach($ast in $list)#*
        *##if($ast.class.simpleName.equals($prefix))#*
            *##foreach($renderable in $ast.list)#*
                *##if($renderable.class.simpleName.equals("Entity"))#*
                    *#$newLine#*
                    *##tab(4)$renderable.name?:$prefix#capitalize($renderable.name);#*
                *##end#*
            *##end#*
        *##end#*
    *##end##
#end
#macro(renderEntities $list $prefix)#*
    *##foreach($ast in $list)#*
        *##if($ast.class.simpleName.equals($prefix))#*
            *##foreach($renderable in $ast.list)#*
                *##renderEntity($renderable, $prefix)#*
                *##foreach($field in $renderable.fields)#*
                    *##if ($field.class.simpleName.equals("Entity"))#*
                        *#$newLine#*
                        *##renderEntity($field, $prefix)#*
                    *##end#*
                *##end#*
            *##end#*
        *##end#*
    *##end##
#end
#macro(renderEntity $entity $prefix)#*
    *##if($entity.class.simpleName.equals("Entity"))#*
        *#interface $prefix#capitalize($entity.name) {#*
            *#$newLine#*
            *##renderFields($entity, $prefix)#*
        *#}$newLine#*
    *##end##
#end
#macro(renderFields $entity $prefix)#*
    *##foreach($field in $renderable.fields)#*
        *##tab(4)#renderField($field, $prefix)$newLine#*
    *##end##
#end
#macro(renderField $field $prefix)#*
    *##if ($field.class.simpleName.equals("Entity"))#*
        *#$field.name?:$prefix#capitalize($field.name);#*
    *##else#*
        *#$field.name?:#toKotlinType($field.type, $prefix);#*
    *##end##
#end
