#parse("/template/javascript/ResponseTypingMacros.vm")
#renderImports($ast)$newLine
import {Uuid, ISO8601, Struct} from "../../GaiaClient";
import {Order} from "../../request/enumeration/Order";
import {OrderByField} from "../../request/enumeration/OrderByField";
import {EdgeOrderByField} from "../../request/enumeration/EdgeOrderByField";

#renderType($ast 0)
