#parse("/template/javascript/ResponseTypingMacros.vm")
#renderImports($ast)$newLine
import {Uuid, Timestamp, Struct, Long} from "../../GaiaClient";
import {RuntimeState} from "../../request/enumeration/RuntimeState";
import {SkillState} from "../../request/enumeration/SkillState";

#renderType($ast 0)
