package gaia.sdk

#if($hasQuery)import gaia.sdk.request.type.Query$newLine#end
#if($hasMutation)import gaia.sdk.request.type.Mutation$newLine#end
#if($hasSubscription)import gaia.sdk.request.type.Subscription$newLine#end

class #capitalize($name)Request {

#tab(4)companion object {
#if($hasQuery)#*
    *##tab(8)@JvmStatic$newLine#*
    *##tab(8)fun query(config: Query.() -> Unit) = Query().apply(config)$newLine##
#end##

#if($hasMutation)#*
    *##tab(8)@JvmStatic#*
    *#$newLine#*
    *##tab(8)fun mutation(config: Mutation.() -> Unit) = Mutation().apply(config)$newLine##
#end##

#if($hasSubscription)#*
    *##tab(8)@JvmStatic#*
    *#$newLine#*
    *##tab(8)fun subscription(config: Subscription.() -> Unit) = Subscription().apply(config)
#end##
#tab(4)}

}
#macro(tab $indent)${tab.invoke($indent)}#end
#macro(print $text)${print.invoke($text)}#end
#macro(capitalize $str)${str.substring(0, 1).toUpperCase()}${str.substring(1)}#end
