#parse("/template/python/RequestTypingMacros.vm")
#renderImports($ast)$newLine
from typing import Callable
from gaia_sdk.api.VariableRegistry import VariableRegistry
##import {Uuid, Timestamp, Struct, Long} from "../../GaiaClient";


#renderClasses($ast 0)
