from graphql.response.type.Query import Query
from graphql.response.type.Mutation import Mutation
from graphql.response.type.Subscription import Subscription

class QueryResponse():#*
    *#$newLine#tab(4)def data(self) -> Query:#*
    *#$newLine#tab(8)return self.data#*
    *#$newLine#tab(4)def extensions(self) -> dict:#*
    *#$newLine#tab(8)return self.extensions#*
    *#$newLine#tab(4)def errors(self) -> list:#*
    *#$newLine#tab(8)return self.errors##
$newLine
class MutationResponse():#*
    *#$newLine#tab(4)def data(self) -> Mutation:#*
    *#$newLine#tab(8)return self.data#*
    *#$newLine#tab(4)def extensions(self) -> dict:#*
    *#$newLine#tab(8)return self.extensions#*
    *#$newLine#tab(4)def errors(self) -> list:#*
    *#$newLine#tab(8)return self.errors##
$newLine
class SubscriptionResponse():#*
    *#$newLine#tab(4)def data(self) -> Subscription:#*
    *#$newLine#tab(8)return self.data#*
    *#$newLine#tab(4)def extensions(self) -> dict:#*
    *#$newLine#tab(8)return self.extensions#*
    *#$newLine#tab(4)def errors(self) -> list:#*
    *#$newLine#tab(8)return self.errors##
$newLine
#macro(capitalize $str)#*
    *#${str.substring(0, 1).toUpperCase()}${str.substring(1)}##
#end
#macro(tab $indent)#*
    *#${tab.invoke($indent)}##
#end
#macro(print $text)#*
    *#${print.invoke($text)}##
#end
