#parse("/template/python/ResponseMacros.vm")
class #capitalize($name)Response:
#tab(4)None
#if($hasQuery)
    #renderEntities($list, "Query")

class QueryData:#*
    *##tab(4)#renderDataFields($list, "Query")

class #capitalize($name)QueryResponse(#capitalize($name)Response):#*
    *#$newLine#tab(4)def data(self) -> QueryData:#*
    *#$newLine#tab(8)return self.data#*
    *#$newLine#tab(4)def nluScore(self) -> float:#*
    *#$newLine#tab(8)return self.nluScore#*
    *#$newLine#tab(4)def nerScore(self) -> float:#*
    *#$newLine#tab(8)return self.newScore#*
    *#$newLine#tab(4)def score(self) -> float:#*
    *#$newLine#tab(8)return self.score#*
    *#$newLine#tab(4)def logs(self) -> dict:#*
    *#$newLine#tab(8)return self.logs#*
    *#$newLine#tab(4)def errors(self) -> list:#*
    *#$newLine#tab(8)return self.errors##
$newLine
#end
#if($hasMutation)
class #capitalize($name)MutationResponse extends #capitalize($name)Response:#*
    *#$newLine#tab(4)data?:MutationData;#*
    *#$newLine#tab(4)logs?:#print("Record<string, Array<string>>")#*
    *#$newLine#tab(4)errors?:#print("Array<string>");$newLine##

class MutationData#*
    *##tab(4)#renderDataFields($list, "Mutation")

    #renderEntities($list, "Mutation")
#end
